body{
    text-align: center;
    height: 100%;
    margin: 0;
    background-image: url("img/fu.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}
#redonda{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid black;
    margin-top: 50px

}
@font-face{
    font-family: 'JMH';
    src: url('font/JMH.ttf') format('opentype');
}
.link-semana .diadasemana{
    font-family: 'JMH';
    font-size: 40px;
    border-radius: 20%;
}
.diadasemana:hover{
    color: black;
}

.link-semana {
    margin-top: 50px;
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgba(255,255,255,0.3);     
}
.link-semana img {
    width: 150px;
    height: 150px;

}
.link-da-ana {
    background-color: rgba(143, 61, 190, .6);
    border-radius: 50%;
    width: 140px;
    height: 140px;
    padding: 30px;
}
.link-da-ana:hover {
    background-color: rgba(143, 61, 190, 1);
}
h1 {
    font-size: 55px;
    font-family: 'JMH';
    color: black;
}
.rodape {
    background-color: black;
    color:white;
    border: px black;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.rodape a{
    font-family: 'Aft';
    color: #45a6ad;
    font-size: 25px;
}
    table {
        border-collapse: collapse;
        border: 8px solid white;
        width: 75%;
        margin: 15px auto; 
        margin-top: 50px;       
    }
    table th{
        color:black;
        font-size: 38px;
        font-family: 'JMH';
        border: 8px solid white;
    }
    table td {
        text-align: center;
        border: 4px solid white;
        color:white;
        font-size: 35px;
        font-family: 'JMH';
    }
    .tabela{
        text-align: center;
        border-top: 50%;
    }
    td img{
        width: 180px;
        height: 150px;
        margin-top: 10px;
    }
    .seta img{
        width: 70px;
        height: 65px;
        text-align: left;
    }
    .seta{
        text-align: right;
        margin: 40px 48px 20px 40px
    }
    .menu{
            text-align: left;
            margin: 40px 48px 20px 20px

    }
    .menu img{
        width: 150px;
        height: 150px;
        text-align: left;
    }
    .editar{
        font-size: 30px;
        width: 110px;
        height: 80px;
    }
    p{
        font-size: 40px;
    }
    td input{
        font-size: 30px;
    }
    .quadrado{
        width: 240px;
        height: 35px;
        font-size: 25px;
        margin: 8px;
    }
    .tabela2 td{
        width: 100%;
    }
   